# Tệp và thư mục dành riêng cho Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Tệp và thư mục do build process sinh ra
[Bb]in/
[Oo]bj/

# Tệp do Rider IDE sinh ra
.idea/

# Gói NuGet
[Pp]ackages/
*.nupkg

# Tệp tạm thời và log
*.log
*.tmp
*.temp

# Tệp hệ điều hành
[Tt]humbs.db
.DS_Store